.anything {
  background-color: lightgray;
  border-radius: 5px;


}

.table{
  background: rgba(0, 0, 0, .2);
  padding: 15px;
  color: white;
  border-radius:10px;
  margin-top: 15px;
}

.table td, .table th{
  height:5px;
  padding: 5px; 
}

a{
  color:white;
  text-decoration: none;
}
