ul {
    list-style-type: none;
}
ul a {
    background-color: lightgray;
    display: inline-block;
    padding: 10px;
    margin: 2px;
    text-decoration: none;
    width: 70%;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: green;
    text-align: center;
}

h3{
    color: green;
    transform: skew(15deg, 4deg);
    text-align: center;
}

p {
    color: rgb(43, 0, 43);
        
}

div.stockData{
    background-color: lightgrey;
    width: 300px;
    border: 9px solid green;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

body {
    font-family: Helvetica Neue, Arial, sans-serif;
    background-image: url("pics/background.jpg");
    max-width: 500px;
    margin: auto;
    background-attachment: fixed;
    background-position: center;   
    background-size:cover;
}
.table thead th {
    background-color: #118825;
    border: solid 1px #2c6b26;
    color: #eeeeee;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(7, 49, 7);
  }
  
  .table tbody td {
    background-color: lightgrey;
    width: 300px;
    border: 9px solid green;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
  }




footer {
 
    bottom: 0;
    width: 100%;
}